extend ../layout

append scripts

	script(type='text/javascript').
		$(document).ready(function(){
			initGoDiagram();
			initGoPalette();
			
			$('#workflowinfoform input#title').data('remote',"/check_availability");
			$('#workflowinfoform input#title').data('remote-error',"ERROR:URI has been used!");

			$("form#workflowinfoform input#title").on("change keyup paste click",function() {
				var title = $('#workflowinfoform input#title').val().trim();
				var uri = title.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-');
				$('label#displayuri').text("URI:  "+ uri);
				//fire event to trigger data-remote validation
				//$('#workflowinfoform input#uri').trigger( "change" );
				
			});
			
			$("#SaveBtn").click(function(){
		        var workflowdoc = myDiagram.model.toJson();
		        var title = $('#workflowinfoform input#title').val().trim();
		        var description = $('#workflowinfoform #description').val()
		        
		        if (title){
		        	var uri = title.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-');
		        	// var data ={
		        	// 	title:title,
		        	// 	description:description,
		        	// 	workflowdoc: workflowdoc,
		        	// 	creator:creator
		        	// 	};
		        	$('#workflowinfoform').submit(function(eventObj) {
					    $(this).find("input#uri").val(uri);
					    $(this).append("<input type='hidden' name='doc' value='"+workflowdoc+"'>");
					    return true;
					});
		        	$('#workflowinfoform').trigger('submit');
		        }
		        else{
		        	$('.nav-tabs a[href="#metadata"]').tab('show');
		        }
		    }); 
		});
		
append general_scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.6.7/go-debug.js")
	script(src="/js/gograph_impl.js")
	script(src="/js/validator.js")

block footer
		
block main_nav_header
		ol.breadcrumb
			li.breadcrumb-item
				a(href='/workflow') Workflow
			li.breadcrumb-item.active
				a(href='#') New

append content
	#sample
		ul.nav.nav-tabs
			li.active
				a(data-toggle='tab', href='#workflow') Workflow
			li
				a(data-toggle='tab', href='#metadata')
					i.glyphicon.glyphicon-edit 
					|  Infomation
			
			if workflow
				li
					a(data-toggle='tab', href='#resources') 
						i.glyphicon.glyphicon-list 
						|  Resources

		.tab-content(style='margin-top: 10px;')
			#metadata.tab-pane.fade(role='tabpanel')
				.container
					form#workflowinfoform.form-horizontal(action='/workflow',method='post',data-toggle="validator",role="form")
						input#uri(name="uri", type='hidden')
						.form-group.has-feedback
							label.control-label.col-sm-2(for="title") Title
							.col-sm-10
								input#title.form-control(name="title", placeholder='Title', required='', autofocus='')
								label#displayuri(for="title") URI:
								.help-block.with-errors 
									Title cannot be empty

							
						.form-group
							label.control-label.col-sm-2 Description
							.col-sm-10
								textarea#description.form-control(name="description",type='password', placeholder='Description')
						.form-group
							label.control-label.col-sm-2 Public
							.col-sm-10
								input#is_public(type="checkbox", name="is_public" checked)
						.form-group
							label.control-label.col-sm-2(for="keywords") Keywords
							.col-sm-10
								input#keywords.form-control(name="keywords", placeholder='Keywords', autofocus='')
								
			#workflow.tab-pane.fade.in.active(role='tabpanel')
					.col-md-12
						#myDiagramDiv(style='border: solid 1px gray; height: 620px')
					.col-md-12
						#myPaletteDiv(style='border: solid 1px gray; height: 180px;margin-top: 10px;margin-bottom: 10px')
			if workflow
				#resources.tab-pane.fade.in(role='tabpanel')
					.container(style='margin-bottom: 10px')
						a.btn.btn-primary(href="/workflow/newresource/#{workflow.workflowid}")
							i.glyphicon.glyphicon-plus 
							|  Add new resource
				
				

	block primary-actionbar
		.container
			
				button#SaveBtn.btn.btn-success.pull-right Save
				button#CancelBtn.btn.btn-primary.pull-right Cancel

	
	// .col-md-12
	// 	textarea#mySavedModel.hidden(style='width:100%;height:300px')
	// 		|{ "class": "go.GraphLinksModel",
	// 		|  "linkFromPortIdProperty": "fromPort",
	// 		|  "linkToPortIdProperty": "toPort",
	// 		|  "modelData": {"position":"157.66279069767438 -102.83857625084602"},
	// 		|  "nodeDataArray": [ 
	// 		|{"text":"Start", "figure":"Circle", "fill":"#00AD5F", "key":-1, "loc":"200 180"},
	// 		|{"text":"Start project", "key":-2, "loc":"360 180", "size":"154 76"},
	// 		|{"text":"Find Data", "key":-3, "loc":"530 180", "size":"93 33.6"},
	// 		|{"text":"Connect data\nwith model", "key":-4, "loc":"670 180"},
	// 		|{"text":"Run model", "key":-5, "loc":"820 180"},
	// 		|{"text":"Write report\n", "key":-6, "loc":"960 180"},
	// 		|{"text":"Review report", "key":-7, "loc":"1140 180"},
	// 		|{"text":"Is report\n accurate?", "figure":"Diamond", "fill":"lightskyblue", "key":-8, "loc":"1140 310"},
	// 		|{"text":"Submit report", "key":-9, "loc":"1330 310"},
	// 		|{"text":"Project close", "key":-10, "loc":"1330 390"},
	// 		|{"text":"End", "figure":"Circle", "fill":"#CE0620", "key":-11, "loc":"1460 390"},
	// 		|{"text":"Refine \nmodel", "key":-12, "loc":"820 310", "size":"63 54.2"},
	// 		|{"text":"Model", "figure":"TriangleRight", "fill":"GoldenRod", "key":-14, "loc":"810 90"},
	// 		|{"text":"Model outputs", "figure":"File", "fill":"white", "key":-15, "loc":"952.5 40", "size":"82 74.13333333333333"},
	// 		|{"text":"Scientist", "figure":"Parallelogram2", "fill":"MediumOrchid", "key":-16, "loc":"1250 100"},
	// 		|{"text":"Report", "figure":"File", "fill":"lightgray", "key":-17, "loc":"1080 80"},
	// 		|{"text":"Manual, but figures, charts generation is automated", "figure":"RoundedRectangle", "fill":"lightyellow", "key":-25, "loc":"980 250"},
	// 		|{"text":"Modeller", "figure":"Parallelogram2", "fill":"MediumOrchid", "key":-28, "loc":"690 320"},
	// 		|{"text":"Proj Lead", "figure":"Parallelogram2", "fill":"MediumOrchid", "key":-29, "loc":"1360 220"},
	// 		|{"text":"Data and models captured with prov trace", "figure":"RoundedRectangle", "fill":"lightyellow", "key":-30, "loc":"1300 460"},
	// 		|{"text":"Data Assets", "figure":"Circle", "fill":"DodgerBlue", "key":-31, "loc":"550 -10", "size":"99 93"},
	// 		|{"text":"Model Library", "figure":"Circle", "fill":"DodgerBlue", "key":-23, "loc":"690 30", "size":"99 93"},
	// 		|{"text":"Model outputs are stored in the asset register", "figure":"RoundedRectangle", "fill":"lightyellow", "key":-26, "loc":"990 -70"},
	// 		|{"text":"Model updates are reflected in model library", "figure":"RoundedRectangle", "fill":"lightyellow", "key":-24, "loc":"740 400"},
	// 		|{"text":"Model output vis\nportal", "figure":"RoundedRectangle", "fill":"DodgerBlue", "key":-27, "loc":"1140 10"},
	// 		|{"text":"End user", "figure":"Parallelogram2", "fill":"MediumOrchid", "key":-32, "loc":"1470 100"},
	// 		|{"text":"Provenance\nTrace", "figure":"File", "fill":"lightgray", "key":-33, "loc":"1140 420"},
	// 		|{"text":"Provenance store", "figure":"RoundedRectangle", "fill":"DodgerBlue", "key":-34, "loc":"960 450"}
	// 		| ],
	// 		|  "linkDataArray": [ 
	// 		|{"from":-1, "to":-2, "fromPort":"", "toPort":"", "points":[237.33720930232556,180,247.33720930232556,180,260.1686046511628,180,260.1686046511628,179.99999999999986,273.00000000000006,179.99999999999986,283.00000000000006,179.99999999999986]},
	// 		|{"from":-2, "to":-3, "fromPort":"", "toPort":"L", "points":[437.00000000000006,179.99999999999986,447.00000000000006,179.99999999999986,460.2500000000001,179.99999999999986,460.2500000000001,179.99999999999994,473.5000000000001,179.99999999999994,483.5000000000001,179.99999999999994]},
	// 		|{"from":-3, "to":-4, "fromPort":"R", "toPort":"L", "points":[576.5,180,586.5,180,595.5,180,595.5,180.00000000000006,604.5,180.00000000000006,614.5,180.00000000000006]},
	// 		|{"from":-4, "to":-5, "fromPort":"", "toPort":"L", "points":[725.5,180.00000000000006,735.5,180.00000000000006,749.25,180.00000000000006,749.25,180,763,180,773,180]},
	// 		|{"from":-5, "to":-6, "fromPort":"", "toPort":"L", "points":[866.9999999999999,179.99999999999994,876.9999999999999,179.99999999999994,888.0662117004395,179.99999999999994,888.0662117004395,180.00000000000006,899.1324234008791,180.00000000000006,909.1324234008791,180.00000000000006]},
	// 		|{"from":-6, "to":-7, "fromPort":"R", "toPort":"L", "points":[1010.8675765991213,180.00000000000006,1020.8675765991213,180.00000000000006,1046.6837882995605,180.00000000000006,1046.6837882995605,179.99999999999994,1072.4999999999995,179.99999999999994,1082.4999999999995,179.99999999999994]},
	// 		|{"from":-7, "to":-8, "fromPort":"B", "toPort":"T", "points":[1139.9999999999995,196.79999999999993,1139.9999999999995,206.79999999999993,1139.9999999999995,229.29999999999995,1140,229.29999999999995,1140,251.8,1140,261.8]},
	// 		|{"from":-8, "to":-9, "fromPort":"", "toPort":"L", "points":[1226,310,1236,310,1249.2499999999998,310,1249.2499999999998,309.99999999999983,1262.4999999999995,309.99999999999983,1272.4999999999995,309.99999999999983]},
	// 		|{"from":-9, "to":-10, "fromPort":"B", "toPort":"T", "points":[1330,326.8,1330,336.8,1330,350.00000000000006,1330,350.00000000000006,1330,363.2000000000001,1330,373.2000000000001]},
	// 		|{"from":-10, "to":-11, "fromPort":"R", "toPort":"L", "points":[1384.5,390.0000000000001,1394.5,390.0000000000001,1405.7616279069769,390.0000000000001,1405.7616279069769,390,1417.0232558139537,390,1427.0232558139537,390]},
	// 		|{"from":-8, "to":-12, "fromPort":"L", "toPort":"R", "points":[1054,310,1044,310,952.75,310,952.75,309.99999999999994,861.5,309.99999999999994,851.5,309.99999999999994]},
	// 		|{"from":-12, "to":-5, "fromPort":"", "toPort":"", "points":[820,282.8999999999999,820,272.8999999999999,820,239.8499999999999,819.9999999999999,239.8499999999999,819.9999999999999,206.79999999999993,819.9999999999999,196.79999999999993]},
	// 		|{"from":-5, "to":-14, "fromPort":"", "toPort":"L", "points":[820,163.2,820,153.2,820,141.9,740.9999999999999,141.9,740.9999999999999,90,750.9999999999999,90]},
	// 		|{"from":-14, "to":-15, "fromPort":"R", "toPort":"", "points":[868.9999999999999,90,878.9999999999999,90,890.25,90,890.25,40.00000000000001,901.5,40.00000000000001,911.5,40.00000000000001]},
	// 		|{"from":-15, "to":-6, "fromPort":"", "toPort":"T", "points":[952.5,77.06666666666666,952.5,87.06666666666666,952.5,116.23333333333333,960,116.23333333333333,960,145.4,960,155.4]},
	// 		|{"from":-16, "to":-7, "fromPort":"", "toPort":"T", "points":[1191.25,100,1181.25,100,1140,100,1140,126.6,1140,153.2,1140,163.2]},
	// 		|{"from":-6, "to":-17, "fromPort":"R", "toPort":"L", "points":[1010.8675765991211,180,1020.8675765991211,180,1028.9337882995603,180,1028.9337882995603,79.99999999999997,1036.9999999999995,79.99999999999997,1046.9999999999995,79.99999999999997]},
	// 		|{"from":-17, "to":-7, "fromPort":"B", "toPort":"", "points":[1079.9999999999995,102.06666666666663,1079.9999999999995,112.06666666666663,1079.9999999999995,132.63333333333333,1140,132.63333333333333,1140,153.2,1140,163.2]},
	// 		|{"from":-28, "to":-5, "fromPort":"", "toPort":"L", "points":[690,303.2,690,293.2,690,292,732,292,732,180,763,180,773,180]},
	// 		|{"from":-28, "to":-12, "fromPort":"", "toPort":"", "points":[748,320,758,320,756,320,756,320,780,320,780,310,778.5,310,788.5,310]},
	// 		|{"from":-16, "to":-6, "fromPort":"", "toPort":"T", "points":[1191.25,100,1181.25,100,1172,100,1172,100,1164,100,1164,116,960,116,960,145.4,960,155.4]},
	// 		|{"from":-29, "to":-9, "fromPort":"", "toPort":"T", "points":[1360,236.79999999999998,1360,246.79999999999998,1360,265,1330,265,1330,283.2,1330,293.2]},
	// 		|{"from":-31, "to":-3, "fromPort":"", "toPort":"T", "points":[547,36.5,547,46.5,547,99.85,530,99.85,530,153.2,530,163.2]},
	// 		|{"from":-23, "to":-14, "fromPort":"B", "toPort":"L", "points":[690,76.5,690,86.5,690,90,715.5,90,740.9999999999999,90,750.9999999999999,90]},
	// 		|{"from":-15, "to":-31, "fromPort":"", "toPort":"", "points":[911.5,40.00000000000001,901.5,40.00000000000001,900,40.00000000000001,900,-28,628,-28,628,-10,603.5,-10,593.5,-10]},
	// 		|{"from":-15, "to":-27, "fromPort":"", "toPort":"L", "points":[993.5,39.99999999999999,1003.5,39.99999999999999,1031.869288125423,39.99999999999999,1031.869288125423,10,1060.238576250846,10,1070.238576250846,10]},
	// 		|{"from":-27, "to":-32, "fromPort":"", "toPort":"", "points":[1209.7614237491541,10,1219.7614237491541,10,1220,10,1220,10,1340,10,1340,100,1399.75,100,1409.75,100]},
	// 		|{"from":-17, "to":-32, "fromPort":"", "toPort":"", "points":[1112.9999999999995,79.99999999999997,1122.9999999999995,79.99999999999997,1124,79.99999999999997,1124,76,1340,76,1340,100,1399.75,100,1409.75,100]},
	// 		|{"from":-33, "to":-34, "fromPort":"", "toPort":"", "points":[1089.5,420,1079.5,420,1061.380711874577,420,1061.380711874577,450,1043.261423749154,450,1033.261423749154,450]},
	// 		|{"from":-10, "to":-33, "fromPort":"", "toPort":"", "points":[1275.5,390,1265.5,390,1268,390,1268,390,1212,390,1212,420,1200.5,420,1190.5,420]}
	// 		|]}

